.footer{
    background-color: black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 6rem;
}
.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 9rem;
     border-bottom: 1px solid white;
}
.footerh3{
    color: white;
    padding-bottom: 45px;
    padding-top: 100px;
    font-size: 40px;
}

.footerdiv{
    margin-left: 30px;
}
.footer1p{
    color: white;
    font-size: 18px;

}

.emailbtn{
    height: 60px;
    width: 300px;
    color: white;
    background-color: rgba(128, 128, 128, 0.193);
    border: none;
    border-radius: 10px;
    font-size: 17px;
}

.arrow{
    background-color: orange;
    border-radius: 50px;
     padding: 15px;
    margin-left: 85px;

}

.footericon{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 35px;
}

.footericons{
   
    width: 34px;
    height: 34px;

    border-radius: 50%; /* circle */
    border-color: #ff8800;
    background-color: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;

    cursor: pointer;

    border: 2px solid #9a9793;

    transition: 0.3s ease;

}

.footer2{
    display: flex;
    flex-direction: row;
   
    padding-bottom: 70px;
    padding-top: 30px;
}

.footer2p{
    padding-right: 10rem;
    font-size: 16px;
    color: white;
}

.englishbtn{
    height: 50px;
    width: 170px;
    border-radius: 30px;
    border:0.1px solid rgba(255, 255, 255, 0.503);
    background-color: black;
    color: white;
    margin-right: 20px;
   
}

.englishperson{
    padding-right: 12px;
}

.rwandabtn{
 height: 50px;
    width: 270px;
    border-radius: 30px;
    border:0.1px solid rgba(255, 255, 255, 0.503);
    background-color: black;
    color: white;
   
}